:root{
    --primary-color:#1E1E1E;
    --secondary-color: #f44336 ;
    --font-inter: 'Inter', sans-serif;
    --contrast-color: #2c2c2c;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
    scroll-behavior: smooth;
    font-family: var(--font-inter);
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}
body{
    background-color: var(--primary-color);
}

.min-width{
    width: 100%;
}
.navbar-title{
    color:white ;
    font-size:3.2rem ;
}
.navbar-title span{
    color: var(--secondary-color);
}
header{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 8rem 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    padding: 0 3rem;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 2rem ;
    font-weight: 500;
    margin-left: 2rem;
}

header a:hover{
    color: var(--secondary-color);
}

@media (min-width: 1024px){
    .navbar-burger { 
        display: none;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .navbar-menu{
        display: none;
    }
}
@media (max-width: 600px){
    .navbar-menu{
        display: none;
    }
    .navbar-title{
        margin-left: 2rem;
        font-size: 1.8rem;
    }
    .info-me{
        align-items: center;
    }
}

.hero,
.centrar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
}

h2{
    font-size: 3rem;
    text-align: center;
    color: white;
}
.hero h2{
    text-align: start;
}
.hero h3{
    font-size: 2.4rem;
    color: var(--secondary-color);
}
.hero p{
    font-size: 2rem;
    line-height: 1.5;
}

.hero-svg-dos {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-svg-dos svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; /* Envía el SVG detrás */
}

.img-me {
    position: relative;
    width: 80%; /* Ajustable según necesidades */
    height: auto;
    max-width: 45rem;
    z-index: 1; /* Asegura que la imagen esté al frente */
}


.button-contact{
    color: white;
    background-color: var(--secondary-color);
    font-size: 1.8rem;
    border: none;
    border-radius: 1rem;
    width: 80%;
    height: 5rem;
    cursor: pointer;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.svg-whatsapp{
    margin-right: 3rem;
}
.info-me{
    line-height: .8;
}
.info-me h2,
.info-me h3{
    line-height: 1.2;
}


@media (min-width: 601px) and (max-width: 1024px) {
    .hero{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
    }
}

@media (max-width:600px){
    .hero{
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        margin: 0 auto;
        max-width: 90%;
    }
    .hero img{
        width: 30rem;
        height: 30rem;
    }
    .hero-svg{
        width: 80%;
        height: 100%;
        margin-bottom: 4rem;
    }
}
.line{
    width: 100%;
    height:10rem ;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 8rem 0 0 0;
}

.line h2{
    margin-left: 8.5rem;
    font-size: 2rem;
}
@media (max-width:768px){
    .line{
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        margin: 0 auto;
        max-width: 100%;
        height: fit-content;
    }
    .line h2{
        margin: 2rem 0;
        font-size: 1.6rem;
    }

    .aboutme-contenedor{
        display: flex;
        flex-direction: column;
    }

    .aboutme-contenedor .aboutme-info{
        margin: 5rem 0 ;
        text-align: center;
    }

    
}
.aboutme-info{
    margin-left: 5rem 0 5rem 5rem;
    font-weight: 500;
}
.aboutme-info strong{
    color: var(--secondary-color);
}
.aboutme-info h3{
    font-size: 2rem;
}
.aboutme-info p{
    font-size: 1.8rem;
    line-height: 2;
    text-align: left;
}

.about-me h2{
    margin-top: 8rem;
}
.services-container{
    max-width: 90%;
    margin: 0 auto;
}

.services-container .title-services{
    margin: 8rem 0;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 5rem;
}
@media (min-width: 768px) {
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 90%;
    }
}


.item{
    height: 250px;
    width: auto;
    background-color: var(--contrast-color);
    text-align: left;
    padding: 2rem;
    color: white;
}
@media(max-width:480px){
    .item{
        height: fit-content;
    }
}
.item h2{
    font-size: 2rem;
}
.item h2, p{
    text-align: left;
}

.item p{
    font-size: 1.6rem;
    line-height: 1.5;
}
.icons-services{
    width: 35px;
    height: 35px;
    border-color: var(--secondary-color);
}
.clients {
    margin: 0 auto;
    overflow-x: auto; /* Habilita el scroll horizontal en el contenedor principal */
}

.clients-container {
    display: flex; /* Cambiado a flex para poner los elementos en fila */
    gap: 5rem; /* Espaciado entre elementos */
    padding: 20px;
    white-space: nowrap; /* Evita que los elementos salten de línea */
    overflow-x: auto; /* Añadir scroll horizontal si es necesario */
    justify-content: center;
}

.item-client {
    height: 500px;
    width: 300px;
    background-color: var(--contrast-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 1rem;
    flex-shrink: 0; /* Impide que los elementos se encojan */
    overflow: hidden; /* Asegura que el contenido no se desborde fuera de los bordes */
}
.item-client h2{
    font-size: 2rem;
}

.item-client h2, p {
    text-align: left;
    word-wrap: break-word; /* Permite que las palabras largas se rompan si es necesario */
    white-space: normal; /* Permite que el texto se divida en varias líneas si es necesario */
    word-break: break-word; /* Rompe las palabras largas que se desborden */
}

.item-client p {
    font-size: 1.8rem;
    line-height: 1.5; /* Aumenta el interlineado para mayor legibilidad */
    margin: 0; /* Elimina el margen para evitar desbordes */
}

.item-client img {
    max-width: 80%; /* Limita el tamaño de la imagen */
    height: auto;
    margin: 2rem auto;
}

.subtitle{
    margin: 10rem 0;
}

/* Opcional: Estilo del scrollbar */
.clients-container::-webkit-scrollbar {
    height: 8px; /* Ajusta el tamaño del scrollbar */
}

.clients-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.clients-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.packs{
    max-width: 80%;
    margin: 0 auto;
}
.container-packs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.item-pack{
   background-color: var(--contrast-color); 
   color: white;
   width: 40%;
   height: fit-content;
   border-radius: 1.5rem;
   padding: 4rem;
   line-height: 2;
   font-weight: 400;
   opacity: 0;
   transform: translateX(-30px);
   animation: fadeInLeft 0.8s forwards;
   margin: 3rem 0;
}

.item-pack h2{
    font-size: 2.4rem;
    text-align: left;
    margin: 4rem 0;
}
.item-pack p, ul {
    font-size: 1.8rem;
    text-align: left;
}

.item-pack span{
    color: var(--secondary-color);
    font-weight: 700;
}

@media (max-width: 480px) {
    .container-packs{
        flex-direction: column;
    }
    .item-pack{
        width: auto;
    }
    ul{
        padding: 0;
    }
}
/* Retraso progresivo en la animación para cada paquete */
.item-pack:nth-child(1) {
    animation-delay: 0.2s;
}

.item-pack:nth-child(2) {
    animation-delay: 0.4s;
}
ul {
    list-style: none; /* Elimina los puntos predeterminados */
}

ul li::before {
    content: "✔"; /* Reemplaza con un icono o texto */
    color: var(--secondary-color);
    font-size: 3rem;
    margin-right: 10px;
}


@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
